.vertical-scroll {
    overflow-y: scroll;
}

.width-60 {
    width: 60%;
}

.container{
    margin: 20px auto;
    height: 230px;
    text-align: left;
}

.black-background {
    background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#playlist_img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 150px; 
    left: 70px;
}

.playlist-detail-header {
    font-family: Baloo, Inter, Times, serif;
    color: #FAFDFF;
    position: absolute;
    top: 70px; 
    left: 70px;
}
  
.playlist-title {
    font-family: Baloo, Inter, Times, serif;
    color: #FAFDFF;
    position: absolute;
    top: 130px; 
    left: 250px;
}

.playlist-creator {
    font-family: Baloo, Inter, Times, serif;
    color: #FAFDFF;
    position: absolute;
    top: 200px; 
    left: 250px;
}

.song-count {
    font-family: Baloo, Inter, Times, serif;
    color: #FAFDFF;
    position: absolute;
    top: 240px; 
    left: 250px;
}

.songs-list-header {
    font-family: Baloo, Inter, Times, serif;
    color: #FAFDFF;
    margin-top: 30px;
}

.horizontal-line {
    width: 90%; 
    margin: 0 auto; 
    border: 1px solid #FAFDFF;
    margin-top: 270px;
    margin-bottom: 0; 
}

.song-item {
    display: flex;
    flex-direction: row;
}

.song-img {
    width: 150px;
    height: auto;
    margin: 10px;
}

.song-info {
    width: 100%;
}

.song-title {
    display: inline-block;
    width: 50%;
}

.song-artist {
    display: inline-block;
    width: 50%;
}

#delete-playlist {
    background-color: red;
}

#close-edit-popup {
    float: right;
}

#edit-playlist {
    position: absolute;
    top: 35%;
    right: 15%;
    transform: translateY(-50%);
  }